*{
  margin: 0%;
  padding: 0%;
  font-family: sans-serif;
}


header{
  width: 100%;
  height: 100px;
  background: black;
}

header h1{
  position: relative;
  color: white;
  text-align: center;
}

#wrapper{
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  display: flex;
}

nav{
  width: 100%;
  margin-left: 0 auto;
  margin-right: 0 auto;
}

nav button{
  margin-left: 3%;
  margin-right: 3%;
}

#wrapper button{
  width: 500px;
  height: 500px;
  margin-top: 10%;
  color: white;
  border-radius: 50%;
  text-align: center;
  border:solid;
}

nav button :hover{
  text-decoration: underline;
  cursor: pointer;
}

nav span{
  vertical-align: middle;
  line-height: 500px;
  font-size: 52px;
  text-shadow: -1px -1px black;
}

#box1{
  background-image: url(../IMGS/sverigebg.jpg);
  background-size: cover;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}


#box2{
  background-image: url(../IMGS/familjebg.jpg);
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

#box3{
  background-image: url(../IMGS/säkerhetbg.jpg);
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

#box4{
  background-image: url(../IMGS/migrationbg.jpg);
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

#box5{
  background-image: url(../IMGS/miljöbg.jpg);
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

footer{
  margin-top: 10%;
  background-color: blue;
  height: 10%;
  color: white;
}

@media screen and (max-width: 1170px){

nav button{
  margin: 0%;

}


}
