*{
  margin:0%;
  padding: 0%;
}

#wrapper{
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.klick{
  font-size: 32px;
  width: 500px;
  height: 500px;
  background: black;
  color: white;
  line-height: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
}

.klick h1{
  margin-bottom: 0%;
}

img{
  margin-top: 0%;
  position: absolute;
  top: 0px;
  left: 800px;
}
